<a href="https://colab.research.google.com/github/ehsankarami1358/ehsan/blob/main/Anomaly02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
df.rename(columns={'Annual Income (k$)':'Income','Spending Score (1-100)':'score'},inplace=True)

In [ ]:
df=df[['Income','score']]

In [ ]:
m=len(df)
print('the number of samples: ',m)

the number of samples:  250

In [ ]:
s=np.sum(df,axis=0)
mu=s/m
mu

Income    95.592
score     50.244
dtype: float64

In [ ]:
vr=np.sum((df-mu)**2,axis=0)
variance=vr/m
variance

Income    5952.737536
score      741.760464
dtype: float64

In [ ]:
var_dia=np.diag(variance)
var_dia

array([[5952.737536,    0.      ],
       [   0.      ,  741.760464]])

In [ ]:
n=len(mu)
X=df-mu
p=1/((2*np.pi)**(n/2)*(np.linalg.det(var_dia)**(1/2))*np.exp((-1/2)*np.exp(-0.5*np.sum(X@np.linalg.pinv(var_dia)*X,axis=1))))
p

0      0.000125
1      0.000125
2      0.000125
3      0.000125
4      0.000125
         ...
245    0.000125
246    0.000125
247    0.000125
248    0.000125
249    0.000125
Length: 250, dtype: float64

In [ ]:
def probability(df):
  s=np.sum(df,axis=0)
  m=len(df)
  mu=s/m
  vr=np.sum((df-mu)**2,axis=0)
  variance=vr/m
  var_dia=np.diag(variance)
  n=len(mu)
  X=df-mu
  p=1/((2*np.pi)**(n/2)*(np.linalg.det(var_dia)**(1/2))*np.exp((-1/2)*np.exp(-0.5*np.sum(X@np.linalg.pinv(var_dia)*X,axis=1))))
  return p

In [ ]:
p1=probability(df)
y=np.array(df)
p1

0      0.000125
1      0.000125
2      0.000125
3      0.000125
4      0.000125
         ...
245    0.000125
246    0.000125
247    0.000125
248    0.000125
249    0.000125
Length: 250, dtype: float64

In [ ]:
def tpfpfn(ep,p):
  tp,fp,fn=0,0,0
  for i in range(len(y)):
    if y[i][0]==1 and p[i]<=ep:
      tp+=1
    elif  y[i][0]==0 and p[i]<=ep:
      fp+=1
    elif  y[i][0]==1 and p[i]>ep:
      fn+=1
      return tp,fp,fn

In [ ]:
eps=[i for i in p1 if i<=p1.mean()]
len(eps)

0

In [ ]:
p1.describe()

count    2.500000e+02
mean     1.248755e-04
std      7.061451e-19
min      1.248755e-04
25%      1.248755e-04
50%      1.248755e-04
75%      1.248755e-04
max      1.248755e-04
dtype: float64

In [ ]:
def f1(ep,p):
  tp,fp,fn=tpfpfn(ep,p)
  precision=tp/(tp+fp)
  recall=tp/(tp+fn)
  f1=2*precision*recall/(precision+recall)
  return f1,precision,recall

In [ ]:
f=[]
for i in eps:
  f.append(f1(i,p1))
f

[]